<div class="page-wrapper">
<h1>Markdown to Dug</h1>
<h2>
  Select the file you want to convert, amend any options you want to change
  <br>
  after you download your dug file try using 
  <a>our custom AI agent</a>
  to populate your variables
</h2>

<button class="file-upload" [class.cta]="!isFileSelected"> 
  <label for="fileInput">{{ isFileSelected ? 'Change ' : 'Choose md '}} file:</label>
  <input type="file" id="fileInput" (change)="selectFile($event)" accept=".md">
</button>
 
<button (click)="convertStringToPuG()" [disabled]="!isFileSelected" [class.cta]="isFileSelected">Download pug</button>

<div class="dropdown">
  <button class="dropdown-button" (click)="toggleDropdown()">{{ isOpen? 'Close' : 'Options' }}</button>
  <ul class="dropdown-menu" [class.show]="isOpen">
    <form class="options-form-wrapper" [formGroup]="preferenciesForm">
      <div class="checkbox-wrapper">
        <input type="checkbox" id="title" formControlName="title">
        <label for="title">include title</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" id="squareVariables" formControlName="squareVariables">
        <label for="squareVariables">replace square brackets with variables</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" id="curlyVariables" formControlName="curlyVariables">
        <label for="curlyVariables">replace curly brackets with variables</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" id="imports" formControlName="imports">
        <label for="imports">include inports</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" id="footer" formControlName="footer">
        <label for="footer">include footer</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" id="noStrong" formControlName="noStrong">
        <label for="noStrong">remove strong from pug</label>
      </div>
    </form>
  </ul>
</div>


<pre>
  <code>
    {{pug}}
  </code>
</pre>

<pre>{{ fileContent }}</pre>

</div>